<?xml version="1.0"?>
<launch>
<arg name="map_resolution" value="0.2"/>

<!-- common param for explore_large_map_pkg -->
<arg name="local_map_frame_name" value="base_link"/>
<arg name="global_map_frame_name" value="/odom"/>
<arg name="abso_global_map_frame_name" value="/abso_odom"/>

<arg name="traversible_map_topic_name" value="/traversible_area_topic"/>
<arg name="vehicle_global_position_topic_name" value="/vehicle_global_pose_topic"/>
<arg name="local_map_topic_name" value="/explore_entry_map"/>
<arg name="global_map_topic_name" value="/global_map"/>

<!-- private param for explore_large_map_pkg -->
<arg name="vehicle_pose_in_odom_topic_name" value="/odom"/>
<arg name="receive_goal_pose_topic_name" value="/move_base_simple/goal"/>
<arg name="send_local_goal_topic_name" value="/local_search_goal"/>

<!-- param for coverage_exploration_pkg -->
<arg name="send_cover_map_topic_name" value="/cover_map"/>



    <node pkg="explore_large_map" type="map_entry" name="map_entry_node" output="screen" >
        <param name="map_width" type="double" value="60"/>
        <param name="map_height" type="double" value="60" />
        <param name="base_to_end" type="double" value="30" />
        <param name="local_map_frame_name" value="$(arg local_map_frame_name)" />
        <param name="local_map_topic_name" value="$(arg local_map_topic_name)" />
        <param name="traversible_map_topic_name" value="$(arg traversible_map_topic_name)" />
        <param name="vehicle_global_position_topic_name" value="$(arg vehicle_global_position_topic_name)" />

    </node>

    <node pkg="explore_large_map" type="explore_large_map_node" name="explore_large_map_node" output="screen" >
        <param name="map_width" type="double" value="100"/>
        <param name="map_height" type="double" value="100" />
        <param name="map_resolution" type="double" value="$(arg map_resolution)" />
        <param name="reach_goal_distance" type="double" value="0.5" />

        <param name="global_map_frame_name" value="$(arg global_map_frame_name)" />
        <param name="local_map_frame_name" value="$(arg local_map_frame_name)" />
        <param name="abso_global_map_frame_name" value="$(arg abso_global_map_frame_name)" />

        <param name="receive_local_map_topic_name" value="$(arg local_map_topic_name)" />
        <param name="receive_vehicle_global_position_topic_name" value="$(arg vehicle_global_position_topic_name)" />
        <param name="send_vehicle_pose_in_odom_topic_name" value="$(arg vehicle_pose_in_odom_topic_name)" />
        <param name="send_vehicle_pose_in_odom_topic_frame_name" value="$(arg global_map_frame_name)" />
        <param name="send_global_map_topic_name" value="$(arg global_map_topic_name)" />
        <param name="receive_goal_pose_topic_name" value="$(arg receive_goal_pose_topic_name)" />
        <param name="send_local_goal_topic_name" value="$(arg send_local_goal_topic_name)" />

    </node>



    <node pkg="coverage_exploration" type="coverage_exploration_node" name="coverage_exploration_node" output="screen" >
        <param name="recieve_global_map_topic_name" value="$(arg global_map_topic_name)"/>
        <param name="send_cover_map_topic_name" value="$(arg send_cover_map_topic_name)"/>
        <param name="global_map_frame_name" value="$(arg global_map_frame_name)" />
        <param name="local_map_frame_name" value="$(arg local_map_frame_name)" />
    </node>


    <node pkg="rviz" type="rviz" name="rviz_explore_map" args="-d $(find explore_large_map)/cfg/explore_map_viz.rviz"/>

</launch>
