<?xml version="1.0"?>
<launch>

    <node pkg="explore_large_map" type="map_entry" name="map_entry_node" output="screen" >
        <param name="map_width" type="double" value="100"/>
        <param name="map_height" type="double" value="80" />
        <param name="local_map_resolution" type="double" value="0.2" />
        <param name="local_map_frame_name" value="base_link" />
        <param name="unknown_cell_value" type="int" value="-1" />
    </node>

    <node pkg="explore_large_map" type="explore_large_map_node" name="explore_large_map_node" output="screen" >
        <param name="map_width" type="double" value="100"/>
        <param name="map_height" type="double" value="100" />
        <param name="map_resolution" type="double" value="0.2" />
        <param name="unknown_value" type="int" value="-1" />
    </node>

    <node pkg="coverage_exploration" type="coverage_exploration_node" name="coverage_exploration_node" output="screen" >
        <param name="map_frame" value="/global_map"/>
        <param name="cover_map_topic_name" value="/cover_map"/>
    </node>


    <node pkg="rviz" type="rviz" name="rviz_explore_map" args="-d $(find explore_large_map)/cfg/explore_map_viz.rviz"/>

</launch>
